@use "/src/assets/styles/variables.scss" as *;

.input {
  padding: 6px 8px;
  outline: 2px solid transparent;
  transition: outline 0.2s ease-out;

  &:focus {
    outline: 2px solid var(--theme-primary);
  }

  &.error-input {
    color: white;
    background-color: #6c3c3c;
  }
}

.error-message {
  color: #ff5e42;
}
