@use '/src/assets/styles/variables.scss' as *;

.auth-bg {
  background-image: url('https://auth.mangadex.org/resources/7gfd6/login/mangadex/img/mdex-login-key.png');
  background-repeat: no-repeat;
  background-position-x: -70px;
  background-position-y: 125px;
}

.logo {
  &:hover {
    text-decoration-color: var(--theme-primary);
  }
}

.auth-container {
  min-width: 500px;
  background: #212328;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 4px solid var(--theme-primary);
  box-shadow: 0 0 20px 20px rgb(0 0 0 / 30%) !important;
}
